/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* Google Fonts */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.show {
    display: block;
}

body {
    overflow-x: hidden;
}

/* hide scrollbar */
::-webkit-scrollbar {
    display: none;
}

.main {
    background: white;
    height: 100vh;
    width: 100vw;
}

.navbar-brand {
    font-size: 2rem;
    font-style: italic;
}

.navbar-brand span {
    font-family: 'Dancing Script', cursive;
    font-style: normal;
}

.navbar-nav .nav-item {
    text-transform: uppercase;
}

.navbar-nav .nav-item.active a {
    color: white;
}

.container-fluid .navbar-collapse {
    text-align: center;
}

.coordinates {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.coordinates iframe {
    width: 50vw;
    height: 70vh;
}

@media (max-width: 900px) {
    .coordinates iframe {
        width: 90vw;
    }
}