/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* Google Fonts */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.show {
    display: block;
}

body {
    overflow-x: hidden;
}

/* hide scrollbar */
::-webkit-scrollbar {
    display: none;
}

.main {
    background: white;
    height: 100vh;
    width: 100vw;
}

.navbar-brand {
    font-size: 2rem;
    font-style: italic;
}

.navbar-brand span {
    font-family: 'Dancing Script', cursive;
    font-style: normal;
}

.navbar-nav .nav-item {
    text-transform: uppercase;
}

.navbar-nav .nav-item.active a {
    color: white;
}

.container-fluid .navbar-collapse {
    text-align: center;
}

/* cart */
.container-fluid .cart {
    position: fixed;
    right: 20px;
    bottom: 75px;
    background: #212529;
    color: #fff;
    box-shadow: 2px 3px 4px #00000086;
    text-align: center;
    padding: 20px 22px;
    border-radius: 50%;
    z-index: 5;
    cursor: pointer;
    transition: transform .2s ease-in;
}

.bought-item {
    overflow-y: visible;
    width: 80vw;
    height: auto;
    background: #fff;
    border: 2px solid #0000001c;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    top: 40%;
    right: 10%;
    display: none;

}

.bought-item * {
    width: 50px;
    display: inline-block;
    margin: 10px;
}

.bought-item .product-price-buy {
    display: none;
}

.bought-item .product-image {
    transition: transform .1s ease-in;
}

.bought-item .product-image:hover {
    transform: scale(2);
}

/* categories */
.category {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
}

.category a {
    text-decoration: none;
    color: black;
    padding: 2px 10px;
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 15px;
    transition: .3s ease-in-out;
}

.category a.active {
    color: #fff;
    background: #000;
}

.category a:hover {
    background: #000;
    color: #fff;
}

/* products */
.main .products {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 20px;
    justify-content: center;
    margin: 50px 10px;
}

.main .products .product {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #00000033;
    box-shadow: 2px 6px 4px #0000001c;
    border-radius: 5px;
    padding: 5px;
    transition: transform .2s ease-in;
}

.main .products .product:hover {
    transform: scale(1.1);
}

.main .products .product .product-image img {
    width: 150px;
}

.main .products .product .product-price-buy {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.main .products .product .product-price-buy .product-price {
    margin: 5px;
    font-size: 1.5rem;
    font-weight: 700;
}